@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@font-face {
    font-family: "Bavicka";
    src: url("../fonts/Bavicka.ttf") format("truetype"),
    url("../fonts/Bavicka.otf") format("opentype");
}

:root{
    --branco-azulado: #E9F1F2;
    --azul-minimo: #7EA1BF;
    --azul-medio: #1e3a51;
    --azul-principal: #30618C;

    --cor-youtube: #ff0000;
    --cor-facebook: #1778F2;

    --fonte-principal: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --fonte-serif: "Bavicka", serif;
    --fonte-icone: "Material Symbols Outlined";
    
    --seta-direita: "\e5cc";
    --seta-baixo: "\e313";
    --icone-transmissao: "\e51e";   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--fonte-principal);
}

html{
    /* width: 100vw; */
    height: 100vh;
}

body{
    background-color: var(--branco-azulado);
}

h1, h2, h3{
    font-family: var(--fonte-serif);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 20px;
    border-bottom: 5px solid var(--azul-principal);
    width: 100%;
}

header img{
    width: 200px;
}

header #burguer{
    color: var(--azul-principal);
}

header #itens{
    display: none;
    /* display: flex;
    flex-flow: column nowrap;
    background-color: var(--azul-principal);
    color: var(--branco-azulado);
    align-self: flex-end;
    text-align: center; */
}

.bem-vindo{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    margin-bottom: 10px;
}

.bem-vindo img{
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
}

.bem-vindo h1{
    margin: 6% 0 4% 0;
    color: var(--azul-principal);
}

.bem-vindo p{
    text-align: justify;
    margin: 5px 0px 20px 0px;
}

.bem-vindo a{
    background-color: var(--azul-principal);
    color: var(--branco-azulado);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.145);
}

.bem-vindo a:hover{
    background-color: var(--azul-medio);
}

.horario-missas{
    display: flex;
    flex-flow: column nowrap;
    color: var(--branco-azulado);
    background-color: var(--azul-principal);
    padding: 20px;
    text-align: center;
}

.horario-missas h2{
    margin: 20px 0px 30px 0px;
}

.horario strong{
    background-color: var(--branco-azulado);
    color: var(--azul-principal);
    padding: 3px 0px;
    border-radius: 3px;
    font-size: 1.2em;
}

.horario{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.horario p{
    margin-bottom: 5px;
    font-size: 1.3em;
}

.transmissao{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--branco-azulado);
    padding: 10px 20px 0px 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.transmissao h3{
    color: var(--azul-principal);
    margin-bottom: 15px;
}

.transmissao > img{
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.152);
}

.redes-sociais{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.youtube a, .facebook a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: white;
}

.youtube a{
    background-color: var(--cor-youtube);
}

.facebook a{
    background-color: var(--cor-facebook);
}

.youtube a:hover{
    background-color: #cf0101;
}

.facebook a:hover{
    background-color: #1563c4;
}

.youtube img, .facebook img{
    margin-right: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}
.youtube img{
    width: 40px;
    border-radius: 5px;
}

.facebook img{
    width: 28px;
    border-radius: 50%;
}

.nosso-paroco{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
}

.nosso-paroco h2{
    margin: 20px 0px 10px 0px;
    font-size: 1.7em;
    color: var(--azul-principal);
}

.nosso-paroco h3{
    color: var(--azul-principal);
    margin-bottom: 5px;
}

.nosso-paroco img{
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.223);
    margin: 20px 0;
}

.nosso-paroco article p{
    text-align: justify;
    background-color: var(--azul-principal);
    color: var(--branco-azulado);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.145);
    margin-bottom: 20px;
}

.nosso-paroco a{
    background-color: var(--azul-minimo);
    color: var(--branco-medio);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.145);
}

.nosso-paroco a:hover{
    background-color: var(--azul-medio);
    color: var(--branco-azulado);
}

footer{
    background-color: var(--azul-principal);
    color: var(--branco-azulado);
    padding: 10px 0;
    text-align: center;
}

@media screen and (min-width: 768px){

    header #burguer{
        display: none;
    }

    header{
        justify-content: space-around;
    }

    menu{
        width: 40%;
    }

    header #itens{
        display: flex;
        flex-flow: flex nowrap;
        justify-content: space-around;
        align-self: flex-end;
        text-align: center;
    }
    
    header a{
        font-family: var(--fonte-serif);
        color: var(--azul-minimo);
    }
    
    header a:hover{
        color: var(--azul-principal);
        
    }
    .bem-vindo{
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .bem-vindo img{
        width: 50%;
        align-self: center;
    }

    .bem-vindo h1{
        margin: 0;
    }

    #conteudo-bem-vindo{
        margin: 0px 0px 0px 10px;
        width: 40%;
        height: 100%;
    }

    .horario-missas{
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .horarios, .transmissao{
        width: 40%;
        margin: 0;
    }
    
    .conteudo-horario-missas{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-items: center;
    }

    .horarios{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .transmissao > img{
        width: 100%;
    }

    .nosso-paroco{
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    .nosso-paroco img{
        width: 250px;
    }

    .nosso-paroco h2{
        margin-bottom: 40px;
    }

    .info-padre{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .padre{
        width: 40%;
        margin: 0;
    }

    .info-padre article{
        display: flex;
        flex-flow: column wrap;
        width: 40%;
        margin: 0;
        justify-content: flex-start;
    }

    article a{
        align-self: flex-start  ;
    }
}