:root{
    --branco-azulado: #E9F1F2;
    --azul-minimo: #7EA1BF;
    --azul-medio: #385773;
    --azul-principal: #30618C;

    --cor-youtube: #ff0000;
    --cor-facebook: #1778F2;

    --fonte-principal: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --fonte-serif: "Bavicka", serif;
    --fonte-icone: "Material Symbols Outlined";

    --seta-direita: "\e5cc";
    --seta-baixo: "\e313";
    --icone-transmissao: "\e51e";   
}